[submodule "bundle/colokschi"]
	path = bundle/colokschi
	url = https://github.com/akutschi/vim-colokschi.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
